
.vs/Renamer/v15/.suo
.vs/Renamer/v15/Browse.VC.db
.vs/Renamer/v15/Browse.VC.opendb
.vs/Renamer/v15/ipch/AutoPCH/3a325fc2050cea7c/SOURCE.ipch
.vs/Renamer/v15/ipch/AutoPCH/72fed8e3ad8a615a/RENAMEMANAGER.ipch
Renamer/x64/Debug/RenameManager.obj
Renamer/x64/Debug/Renamer.log
Renamer/x64/Debug/Renamer.tlog/CL.command.1.tlog
Renamer/x64/Debug/Renamer.tlog/CL.read.1.tlog
Renamer/x64/Debug/Renamer.tlog/CL.write.1.tlog
Renamer/x64/Debug/Renamer.tlog/link.command.1.tlog
Renamer/x64/Debug/Renamer.tlog/link.read.1.tlog
Renamer/x64/Debug/Renamer.tlog/link.write.1.tlog
Renamer/x64/Debug/Renamer.tlog/Renamer.lastbuildstate
Renamer/x64/Debug/Source.obj
Renamer/x64/Debug/vc141.idb
Renamer/x64/Debug/vc141.pdb
x64/Debug/Renamer.exe
x64/Debug/Renamer.ilk
x64/Debug/Renamer.pdb
